/* line 5, ../sass/_base.scss */
* {
  clear: both;
}

/* line 7, ../sass/_base.scss */
body {
  font-size: 12px;
  width: 100%;
}

/* line 4, ../sass/_header.scss */
.nav {
  font-family: "Lato", sans-serif;
  color: #363636;
  font-size: 1em;
  display: block;
}
/* line 8, ../sass/_header.scss */
.nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 13, ../sass/_header.scss */
.nav li {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  width: 120px;
  height: 25px;
  margin-right: 5px;
  background: #801f2e;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding-top: 8px;
}
/* line 26, ../sass/_header.scss */
.nav .branding {
  font-size: 1.8em;
  font-family: "Cutive", serif;
  display: inline-block;
}

/* line 3, ../sass/index.scss */
.content {
  font-family: "Lato", sans-serif;
  font-size: 0.9em;
}
/* line 6, ../sass/index.scss */
.content .blurb {
  font-size: 1.2em;
  text-transform: uppercase;
  color: #ffa335;
}
